@font-face {
    font-family: 'ir_sans';
    src: url('fonts/IRANSansRegular.ttf') format('woff');
}

@font-face {
    font-family: 'ir_sans_b';
    src: url('fonts/IRANSansBold.ttf') format('woff');
}

@font-face {
    font-family: 'yekan_bakh';
    src: url('fonts/YekanBakh-Regular.ttf') format('woff');
}


/* CSS RESET */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


/* change colours to suit your needs */

mark {
    background-color: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

body {
    background: #e1e1e1!important;
    direction: rtl;
    line-height: 1;
    font-family: 'ir_sans', sans-serif !important;
}

a {
    text-decoration: none!important;
    transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
}

li {
    list-style: none;
}

 :focus {
    outline: none;
}

.clear {
    clear: both;
}

.p0 {
    padding: 0!important;
}

.fr {
    float: right;
}

.fl {
    float: left;
}


/* Home */


/* header */

.head {
    height: 80px;
    background: #ff0;
}

.logo,
.search {
    float: left;
    padding: 20px 60px;
}

.search input {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ff0;
}

.logo img {
    height: 40px;
    margin-left: 60px;
}

.menu_top ul {
    float: right;
    margin: 10px 60px 0 0;
}

.menu_top ul li {
    display: inline-block;
    padding: 15px;
}

.menu_top ul li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}


/* menu */


/* slider */

.swiper-container {
    height: 350px;
}

.overlay_2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}

.swiper-slide:hover .overlay {
    opacity: 1;
}

.swiper-slide img {
    height: 350px;
    width: 100%;
}

.circle_p {
    height: 175px;
    padding: 20PX 0 0 0;
    background: #fff;
}

.circle_p span {
    position: absolute;
    top: 23%;
    left: 40%;
    font: 48px 'sans-serif';
    font-weight: bold;
}

.circle_p img {
    width: 100px;
    height: 100px;
}

.text {
    height: 175px;
    color: #000;
    background: #ff0;
    font-size: 16px;
    text-align: center;
    font-family: 'ir_sans';
}

.swiper-slide img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}


/*------------ media_screen ---------------*/

@media only screen and (max-width: 250px) {}

@media only screen and (max-width: 300px) and (min-width: 250px) {}

@media only screen and (max-width: 350px) and (min-width: 300px) {}

@media only screen and (max-width: 400px) and (min-width: 350px) {}

@media only screen and (max-width: 450px) and (min-width: 400px) {}

@media only screen and (max-width: 500px) and (min-width: 450px) {}

@media only screen and (max-width: 550px) and (min-width: 500px) {}

@media only screen and (max-width: 600px) and (min-width: 550px) {}

@media only screen and (max-width: 650px) and (min-width: 600px) {}


/* Extra small devices (phones, 600px and down) */

@media (min-width: 600px) {}

@media (max-width: 535px) {}

@media (max-width: 600px) {}


/* sm */

@media (min-width: 768px) {}

@media (max-width: 765px) {}


/* md */

@media (min-width: 992px) {}

@media (max-width: 992px) {}


/* lg */

@media (max-width: 1200px) {}

@media (min-width: 1200px) {}